node_modules/
.expo/
dist/
npm-debug.*
.expo-dev-server.*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
smartsense-netlify-dist.zip
.env
.DS_Store
android/
ios/
%ProgramData%/
[{]src/
